<a href="https://colab.research.google.com/github/MarioTiara/LogiscticRegresion/blob/main/LogisticRegresion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

In [2]:

df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/data_retail.csv', sep=';')
df['First_Transaction'] = pd.to_datetime(df['First_Transaction']/1000, unit='s', origin='1970-01-01')
df['Last_Transaction'] = pd.to_datetime(df['Last_Transaction']/1000, unit='s', origin='1970-01-01')
df['Year_First_Transaction'] = df['First_Transaction'].dt.year
df['Year_Last_Transaction'] = df['Last_Transaction'].dt.year
df.loc[df['Last_Transaction'] <= '2018-08-01', 'is_churn'] = True 
df.loc[df['Last_Transaction'] > '2018-08-01', 'is_churn'] = False 

len(df)

100000

In [3]:
df['Year_Diff']=df['Year_Last_Transaction']-df['Year_First_Transaction']

data = df.drop(['no', 'Row_Num', 'Customer_ID', 'Product', 'First_Transaction','Last_Transaction','Year_First_Transaction','Year_Last_Transaction'], axis=1)


X = data.drop(['is_churn'], axis=1)
y = data['is_churn']
y=y.astype('int')

print(y)
print(X)

0        0
1        0
2        0
3        0
4        0
        ..
99995    1
99996    1
99997    1
99998    1
99999    0
Name: is_churn, Length: 100000, dtype: int64
       Average_Transaction_Amount  Count_Transaction  Year_Diff
0                         1467681                 22          2
1                         1269337                 41          4
2                          310915                 30          2
3                          722632                 27          2
4                         1775036                 25          3
...                           ...                ...        ...
99995                      298662                  1          0
99996                      349556                  1          0
99997                      598013                  1          0
99998                     1208591                  1          0
99999                      486710                  1          0

[100000 rows x 3 columns]

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

print(X_train)
print(y_train)

       Average_Transaction_Amount  Count_Transaction  Year_Diff
2606                      1649125                 34          2
57228                     7432327                  1          0
8382                      1224173                 27          2
60281                     3775449                  2          0
48432                      149891                  1          0
...                           ...                ...        ...
21243                     1630986                  1          0
45891                      666589                  1          0
42613                     2876998                  1          0
43567                     1000026                  5          0
68268                     2318409                  1          0

[75000 rows x 3 columns]
2606     0
57228    0
8382     1
60281    1
48432    0
        ..
21243    1
45891    1
42613    1
43567    1
68268    1
Name: is_churn, Length: 75000, dtype: int64

In [5]:

# Call the classifier
logreg = LogisticRegression()


# Fit the classifier to the training data  
logreg = logreg.fit(X_train, y_train)

In [6]:
#Training Model: Predict 
y_pred = logreg.predict(X_test)

#Evaluate Model Performance
print('Training Accuracy :', logreg.score(X_train, y_train))  
print('Testing Accuracy :', logreg.score(X_test, y_test))

Training Accuracy : 0.6652533333333334
Testing Accuracy : 0.66668

In [7]:
# confusion matrix
print('\nConfusion matrix')  
cm = confusion_matrix(y_test, y_pred) 
print(cm)

# classification report  
print('\nClassification report')  
cr = classification_report(y_test, y_pred) 
print(cr)

Confusion matrix
[[    1  8330]
 [    3 16666]]

Classification report
              precision    recall  f1-score   support

           0       0.25      0.00      0.00      8331
           1       0.67      1.00      0.80     16669

    accuracy                           0.67     25000
   macro avg       0.46      0.50      0.40     25000
weighted avg       0.53      0.67      0.53     25000